/* ===========================
        GLOBAL LOADER
=========================== */

.loader-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.72);
    backdrop-filter: blur(6px);

    z-index: 999999;

    opacity: 1;
    visibility: visible;

    transition: opacity .3s ease;
}

/* Hidden State */

.loader-overlay.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Loader Card */

.loader-card {

    width: 420px;
    max-width: 90%;

    padding: 35px;

    border-radius: 18px;

    background: #111827;

    border: 1px solid rgba(255,255,255,.08);

    box-shadow:
        0 0 40px rgba(0,0,0,.5);

    text-align: center;

    color: white;

}

/* Spinner */

.loader-spinner {

    width: 72px;
    height: 72px;

    margin: auto;

    border: 6px solid rgba(255,255,255,.15);

    border-top: 6px solid #3b82f6;

    border-radius: 50%;

    animation: spin .8s linear infinite;

}

/* Title */

#loader-title {

    margin-top: 22px;

    font-size: 28px;

    font-weight: bold;

}

/* Status */

#loader-status {

    margin-top: 14px;

    color: #d1d5db;

    font-size: 17px;

    min-height: 24px;

}

/* Progress */

.progress-bar {

    width: 100%;

    height: 8px;

    margin-top: 28px;

    background: rgba(255,255,255,.08);

    border-radius: 30px;

    overflow: hidden;

}

.progress {

    width: 35%;

    height: 100%;

    background: linear-gradient(
        90deg,
        #2563eb,
        #60a5fa,
        #2563eb
    );

    animation: progress 1.4s infinite;

}

/* Animations */

@keyframes spin {

    to {

        transform: rotate(360deg);

    }

}

@keyframes progress {

    0% {

        transform: translateX(-120%);

    }

    100% {

        transform: translateX(320%);

    }

}
.loader-spinner{
    width:60px;
    height:60px;

    margin:0 auto 20px;

    border:6px solid #e5e7eb;
    border-top:6px solid #2563eb;

    border-radius:50%;

    animation:spin .8s linear infinite;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}